<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
<title>{{ .Title }}</title>
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="https://use.typekit.net/cbd7kad.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="/css/qfield.css" rel="stylesheet">

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24350287-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-24350287-3');
</script>