<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./"
            ><img
              src="/images/qfield_for_qgis.png"
              style="width: auto; height: 52px; margin-top: 8px"
              alt="QField Logo"
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav">
            <li>
              <a href="/index.html#highlights" title="Highlights">HIGHLIGHTS</a>
            </li>
            <li class="dropdown"></li>
            <li>
              <a href="/assistance.html" title="Get assistance"
                >GET ASSISTANCE</a
              >
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >RESOURCES<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="https://docs.qfield.org/success-stories/"
                    target="_blank"
                    title="Success stories"
                    >Success stories</a
                  >
                </li>
                <li>
                  <a
                    href="https://community.qfield.org/"
                    target="_blank"
                    title="Community"
                    >Community</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.qfield.org"
                    target="_blank"
                    title="Documentation"
                    >Documentation</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.qfield.org/get-started/contribute/" target="_blank"
                    title="Contribute to QField"
                    >Contribute</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/opengisch/qfield"
                    target="_blank"
                    title="Source code"
                    >Source code</a
                  >
                </li>
                <li>
                  <a href="/partner.html" title="Partner programs"
                    >Partner programs</a
                  >
                </li>
                <li>
                  <a href="/sdgs.html" title="Sustainable development goals"
                    >Sustainable development goals</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.opengis.ch/category/qfield/"
                    target="_blank"
                    title="Blog"
                    >Blog</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.opengis.ch/newsletter"
                    target="_blank"
                    title="newsletter"
                    >Newsletter</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                href="https://opengis.ch/#contact"
                target="_blank"
                title="Contact us"
                >CONTACT US</a
              >
            </li>
            <li class="get-started-button"><a href="https://docs.qfield.org/get-started/" target="_blank" title="Get started"><i class="fas fa-rocket"></i> GET STARTED</a></li>
          <li class="support-button">
              <a href="/support-us.html" title="Support us">♥ SUPPORT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
