{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $caption := .Get "caption" | default "" }}
{{ $class := .Get "class" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $height := .Get "height" | default "" }}
{{ $href := .Get "href" }}
{{ $target := .Get "target" | default (cond (strings.HasPrefix $href "http") "_blank" "_self") }}
{{ $rel := .Get "rel" | default (cond (and $href (eq $target "_blank")) "noopener" "") }}

{{ $style := "" }}
{{ if $width }}
  {{ $style = printf "%swidth:%s;" $style $width }}
{{ end }}
{{ if $height }}
  {{ $style = printf "%sheight:%s;" $style $height }}
{{ end }}

<figure class="figure text-center{{ if $class }} {{ $class }}{{ end }} mb-4">
  {{ if $href }}<a href="{{ $href }}" target="{{ $target }}"{{ if $rel }} rel="{{ $rel }}"{{ end }}>{{ end }}
    <img src="{{ $src }}" alt="{{ $alt }}" class="figure-img img-fluid gallery-img"
         {{ if $width }}width="{{ $width }}"{{ end }}
         {{ if $height }}height="{{ $height }}"{{ end }}
         {{ if $style }}style="{{ $style }}"{{ end }}>
  {{ if $href }}</a>{{ end }}
  {{ if $caption }}
  <figcaption class="figure-caption text-center">{{ $caption | markdownify }}</figcaption>
  {{ end }}
</figure>